/* Reset CSS Eric Meyer
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Colours

$gisele-bluegreen: #016b69;
$gisele-green: #484742;
$gisele-orange: #f99b34;
$gisele-purple: #550760;
$gisele-red: #d02415;
$gisele-beige: #fffce9 rgba(255, 252, 233, 1);

*/

/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: local('WorkSans SemiBold'), url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan';
    font-weight: 700;
    font-style: normal;
    src: local('League Spartan'), url('../fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

/* Styles
*/

html {
  background-color: #fffce9;
}

body {
    color: #484742;
    font-size: 1.5rem;
    font-family: 'Playfair', Georgia, serif;
  background-color: #fffce9;
}

a {
    color: #484742;
    font-family: 'League Spartan', Roboto, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.content {
  width: auto;
  margin: 0 4rem;
}


.chapter {
}

.chapter .chapter-header {
  width: 100%;
  text-align: center;
}

.chapter .chapter-header img {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.chapter-content {}

.chapter-title {
    font-family: 'League Spartan', Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.chapter-title span {
    color: #fff;
    background-color: #550760;
    border: 1px solid #fffce9;
    display: inline-block;
    padding: 1.5rem 2rem;
    width: 15em;
    margin: 0 auto -4rem;
}

.chapter h1 {
    font-size: 3rem;
}
.chapter h2 {
    font-size:  1.5rem
}
.chapter h3 {
    font-size:  1.25rem;
}
.chapter h4 {
    font-size:inherit;
}
/*
.chapter h1,
.chapter h2,
.chapter h3,
.chapter h4 {
    margin-bottom: 1rem;
}
.chapter h1:not(:first-child),
.chapter h2:not(:first-child),
.chapter h3:not(:first-child),
.chapter h4:not(:first-child){
    margin-top:2em
}*/

.chapter p {
    line-height:1.4;
}
.chapter p:not(:last-child){
    margin-bottom: 1em;
}
.chapter-paragraph {
  width: 30em;
  background-color: rgba(255, 252, 233, 1);
  position: relative;
  padding: 2.5rem 2rem;
  border: 1px solid #550760;
  margin: 0 auto 3rem;
  z-index: 20;
}
.chapter-paragraph::after {
  position: absolute;
  right: 0;
  bottom: -12px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 12px;
  width: calc(100%);
  /*height: calc(100% + 12px);*/
  background: url(../images/bg/purple-oblique-stripe.png) repeat;
  z-index: 1;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  margin: auto;
  transition: height .2s cubic-bezier(0,0,.2,1);
}

/* Sublayer
*/
.chapter-sublayer {
  margin: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 1500px;
}

.chapter-sublayer.top {
  opacity: 1;
}

.chapter-sublayer.background {
  opacity: 0.5;
}

.chapter-sublayer .cell {
  text-align: center;
  margin: 0 auto;
  padding: 0 4rem;
}

.cell .image-grid {
  line-height: 0;
  text-align: center;
}

.cell .image-grid li {
  border: 1px solid #484742;
  position: relative;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 16.66667%;
  z-index: 20;
}


.cell .image-grid img {
  width: 100% !important;
  height: auto !important;
  vertical-align: middle;
  border: 10px solid #fff;
  z-index: 4;
}

.cell .image-grid li::after {
  position: absolute;
  right: 0;
  bottom: -12px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 12px;
  width: calc(100%);
  /*height: calc(100% + 12px);*/
  background: url(../images/bg/green-vertical-stripe.png) repeat-x;
  margin: auto;
}

.cell .image-grid li::before {
  position: absolute;
  right: 10px;
  top: 50%;
  left: -12px;
  content: '';
  display: block;
  height: 1px;
  border-top: 1px solid #484742;
  z-index: -5;
}

.reveal {
  background: transparent;
  border: 0;
  padding: 0;
}

.reveal p.image {
  text-align: center;
  width: 500px;
  position: relative;
}

.reveal p.image::after {
    position: absolute;
    top: 85%;
    left: 70%;
    content: '';
    display: block;
    width: 20px;
    height: 100px;
    border-right: 20px solid red;
    margin: 0;
    z-index: 5000;
}

.reveal p.image img {
  width: 500px;
  height: auto;
  display: block;
  vertical-align: middle;
}

.reveal .image-details {
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem 1rem 1rem;
  width: 500px;
  font-family: "Work Sans";
  font-size: 0.85rem;
  position: relative;
}


