a,
a img {
    outline : none !important;
}

ul.image-grid {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.image-grid li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.image-grid li img {
    display: inline-block;
    height: 160px;
    width:  auto;
    opacity: 0.9;
}

ul.image-grid li img.active-image,
ul.image-grid li img:hover,
ul.image-grid li img:focus {
    opacity: 1;
    cursor: pointer;
}

.current-prop-values {
    font-size: 80%;
    background: #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
}

.current-prop-values header {
    line-height: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.current-prop-values header span {
    display: inline-block;
    min-width: 16rem;
}


.current-prop-values header a {
    font-size: 140%;
    font-weight: 700;
    display: inline-block;
    padding: 0.25rem 0.45rem;
    border: 1px solid #ddd;
}

.current-prop-values header a:last-child {
    border-left: 0;
}

.current-prop-values header a:hover {
    background: #ddd;
}


.current-prop-values strong.current-prop {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 0.45rem;
    min-width: 10rem;
    padding: 0.25rem 0.45rem;
}

.current-prop-values ul {
    margin: 0;
    line-height: 1.1;
}

.current-prop-values ul li {
    list-style-type: none;
}

.current-prop-values ul li.selected-value a {
    font-weight: 700;
    background: #fff;
    color: #333;
}

.current-prop-values ul li a {
    display: block;
    padding: 0.85rem 0.25rem;
    border-right: 1px solid #eee;
    height: 100%;
    vertical-align: middle;
}

.current-prop-values ul li a:hover {
    background: #fff;
}

.viewer {
    position: relative;
}

.callout.image-sidebar {
    position: absolute;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px !important;
    left: auto !important;
    top: 0;
}

.image-sidebar .sidebar-content {
    height: 100%;
    overflow-y: auto;
}
/*
.reveal.image-sidebar {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px !important;
    left: auto !important;
}

.image-sidebar .sidebar-content {
    height: 100%;
    overflow-y: auto;
}
*/

