<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Warp and Weft of Memory</title>

    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div id="app" class="content" v-cloak>       
        
      <nav id="top-navigation" data-sticky-container>
        <div data-sticky data-options="marginTop:0;">
          <ul class="vertical medium-horizontal menu">
            <!-- <li v-bind:class="{ 'active': currentComponent == 'narrative' }"> -->
              <!-- <a href="#" v-on:click.stop="selectSection('narrative')">Notes</a> -->
            <li class="warpweft"><router-link to="/foreword">The Warp and Weft of Memory</router-link></li>
            <li><router-link to="/notes">Notes</router-link></li>
            <li><router-link to="/epistolary">Epistolary</router-link></li>
            <li><router-link to="/tapestry">Semantic Tapestry</router-link></li>
            <li><router-link to="/colophon">Colophon</router-link></li>
          </ul>
        </div>
      </nav><!-- /#top-navigation -->
      
      <router-view ref="current"></router-view>

    </div><!-- /.content -->

    <!-- Component templates -->
    <script type="text/x-template" id="narrative-template">
         <div id="narrative" 
              v-on:click="toggleChapterMode($event)"
              >
              <nav id="navigation">
                <div v-if="!all_chapters.length" class="loading"><span>Loading notes...</span><div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div></div>
                <ul class="show-for-medium">
                  <li v-for="chapter in all_chapters" v-bind:class="{ visited: visitedChapters.indexOf(chapter.title) != -1 }" v-bind:style="{ width: chapter.size + '%' }" v-on:click="loadChapter(chapter.title, $event)"><a :title="chapter.title" href="#">&nbsp;</a></li>
                </ul>
                
                <form id="mobile-nav" class="show-for-small-only">
                  <label>Select chapter
                    <select v-on:change="selectChapter">
                      <option 
                            v-for="chapter in all_chapters"
                            >
                            {{ chapter.title }}
                      </option>
                    </select>
                  </label>
                </form>
              </nav><!-- /#navigation -->

              <div class="reveal" id="media-reveal" data-reveal
                v-bind:class="{ 'medium': selectedMedia && !selectedMedia.isVideo, 'large': selectedMedia && selectedMedia.isVideo }"
                >
                <p class="image"
                   v-if="selectedMedia && !selectedMedia.isVideo"
                   v-bind:class="{ restricted: selectedMedia.restricted }">
                <img class="image" id="detail-image"
                                    v-bind:class="{ restricted: selectedMedia.restricted }"
                                   :oncontextmenu="!!selectedMedia.restricted ? 'return false;' : undefined"
                                   :src="selectedMedia.url" 
                                   :alt="selectedMedia.title"

                                   data-close aria-label="Close modal"
                                              >
                </p>

                <p v-if="selectedMedia && selectedMedia.isVideo" class="video">
                <video class="video" id="detail-video"
                                     :src="selectedMedia.url" 
                                     :alt="selectedMedia.title"
                                     controls autoplay loop
                                     >
                </p>


                  <div v-if="selectedMedia" class="image-details">
                    <p class="description">{{ selectedMedia.description }}</p>
                    <ul class="chapter-properties">
                      <li class="property"
                          v-for="(values, property) in selectedMedia.properties"
                          >
                          {{ property.replace(/_/g, " ") }}
                          <ul class="values">
                            <li class="value"
                                v-for="value in values"
                                >
                                {{ value.replace(/_/g, " ") }}
                            </li>
                          </ul>
                      </li>
                    </ul>
                  </div><!-- /.image-details -->
              </div>

              <div class="chapter-container"
                   v-for="chapter in chapters" 
                   >
                   <header class="chapter-header" v-if="chapter.headerIllustration">
                     <div class="illustration" v-html="chapter.headerIllustration" v-visible="showChapters">
                     </div>
                   </header>
                   <div class="section-container">
                     <section 
                        class="chapter"
                        v-bind:class="chapterClass(chapter)" 
                        :id="'chapter-' + chapter.pageid"
                        v-visible="showChapters"
                        >
                        <h2 class="chapter-title"><span>{{ chapter.title }}</span></h2>
                        <div class="chapter-content">
                          <ul v-if="debug" class="chapter-properties">
                            <li><a :href="'http://37.218.246.155/warpweft-wiki/index.php?title=' + chapter.title + '&action=edit'" target="_blank">Edit chapter</a></li>
                            <hr>
                            <li class="property"
                                v-for="(values, property) in chapter.properties"
                                >
                                {{ property.replace(/_/g, " ") }}
                                <ul class="values">
                                  <li class="value"
                                      v-for="value in values"
                                      >
                                      {{ value.replace(/_/g, " ") }}
                                  </li>
                                </ul>
                            </li>
                            <li v-if="chapter.properties.length == 0">No properties for this chapter.</li>
                            <li v-if="!chapter.imageprop1">No properties for this chapter. </li>

                            <li v-if="chapter.imageprop1">{{ chapter.imageprop1 }}: {{ chapter.imageprop1count }} images</li>
                            <li v-if="chapter.imageprop2">{{ chapter.imageprop2 }}: {{ chapter.imageprop2count }} images</li>
                            <li v-if="chapter.imageprop2">Total: {{ chapter.images.length }} images</li>

                          </ul>                
                          <p
                            v-for="para in chapter.paragraphs"
                            v-bind:class="{restricted: isParaRestricted(para)}"
                            v-html="para"></p>
                            
                          <ol class="references"
                            v-if="chapter.refs.length"
                            >
                            <li v-for="ref in chapter.refs" v-html="ref"></li>
                          </ol>

                        </div><!-- /.chapter-content -->
                     </section><!-- /.chapter -->

                     <section id="chapter-name-sublayer" class="chapter-sublayer" v-bind:class="{ visible: !showChapters }">
                       <ul class="image-grid">
                         <li
                           v-for="image in chapter.images"
                           v-bind:class="{ 'image': !image.isVideo, 'video': image.isVideo }"
                           >

                           <img v-if="!image.isVideo"
                                :src="image.thumburl" :alt="image.title" 
                                v-bind:class="{ restricted: image.restricted }"
                               :oncontextmenu="!!image.restricted ? 'return false;' : undefined"
                                class="chapter-media"
                                v-on:click="selectMedia(image)"
                                >
                           <video v-if="image.isVideo" height=180
                                  :src="image.thumburl" :alt="image.title" 
                                  class="chapter-media"
                                  v-on:click="selectMedia(image)"
                                  >
                         </li>
                       </ul>
                     </section><!-- /.chapter-sublayer -->

                   </div><!-- /.section-container -->        
              </div><!-- /.chapter-container -->
         </div><!-- /#narrative -->
    </script>

    <script type="text/x-template" id="tapestry-template" ref="tapestry">
         <div id="tapestry"
           class="grid-container full">

           <div class="grid-x current-prop-values">
             <header class="small-12 cell text-center">
                 <strong class="current-prop">{{ activeProperty.replace('TOC', 'Table of Contents') }}</strong>
                 <a v-on:click="prevProperty()" class="previous-prop" href="#">&larr;</a><a v-on:click="nextProperty()" class="next-prop" href="#">&rarr;</a>
             </header>
             <nav  class="small-12 cell">
               <div class="loading large-12 cell text-center" v-if="!properties[activeProperty].length">
                 <span>Loading {{activeProperty}}...</span>
                 <div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
               </div>
               
               <ul class="grid-x small-up-2 medium-up-6 large-up-8 text-center">
                 <li v-for="value in properties[activeProperty]" 
                     v-bind:key="value"
                     v-bind:class="getValueListClass(value)"
                     v-on:click="selectValue(activeProperty, value)"
                     class="cell"
                     >
                     <a v-bind:href="'#/tapestry/?prop='+activeProperty+'&value='+value" :title="value">{{ value }}</a>
                 </li>
               </ul>
             </nav>
           </div><!-- /.current-prop-values -->

           <div id="viewer" class="grid-x grid-padding-x">
             <header class="cell">
               <h2>{{ selectedProperty }} — {{ selectedValue }}</h2>
               <p class="status">{{ status }}</p>
             </header>
             <div class="cell">
               <ul class="image-grid">
                 <li v-for="result in results" 
                     v-bind:key="result.pageid"
                     v-bind:class="{'quilt-image': !result.isVideo, 'quilt-video': result.isVideo}"
                     v-on:click="selectPage(result.title, $event)"
                     data-toggle="sidebar-reveal"
                     >
                     <img v-if="!result.isVideo" :src="result.thumburl" :alt="result.pageid">
                     <video v-if="result.isVideo" :src="result.thumburl" :alt="result.pageid">
                 </li>
               </ul>

               <hr v-if="pages.length">
               <div class="page-list">
                 <ul class="pages grid-x grid-margin-x small-up-4 medium-up-8 large-up-10">
                   <li v-for="page in pages" 
                       v-bind:key="page.pageid"
                       v-on:click="selectPage(page.title, $event)"
                       data-toggle="sidebar-reveal"
                       class="cell"
                       >
                       <strong>{{ page.title }}</strong>
                       <span class="page-preview" v-html="page.content"></span>
                   </li>
                 </ul>
               </div><!-- /.page-list .page-list-preview -->
             </div><!-- /.cell -->
           </div><!-- /#viewer -->

           <div class="reveal image-sidebar" id="sidebar-reveal" data-reveal data-animation-in="slide-in-right fast" data-animation-out="slide-out-right fast">
             <button class="prev-button" v-on:click="selectPreviousPage()">&larr;</button>
             <button class="next-button" v-on:click="selectNextPage()">&rarr;</button>
             <button class="close-button" data-close>&times;</button>
             <div class="sidebar-content">
               <h4 v-if="debug" id="detail-title">
                 <a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + detail.title" target="_blank">{{ detail.title.replace('File:', '') }}</a>
                 <span v-else>{{ detail.title.replace('File:', '') }}</span>
               </h4>
               <p v-if="detail.imageURL || detail.videoURL" 
                  v-bind:class="{restricted: detail.isRestricted}">
               <img id="detail-image" 
                    v-bind:class="{restricted: detail.isRestricted}" 
                    v-if="!detail.isVideo && detail.imageURL" 
                    :oncontextmenu="!!detail.isRestricted ? 'return false;' : undefined"
                    :src="detail.imageURL" 
                    :alt="detail.title">
               <video id="detail-video" 
                      v-if="detail.isVideo && detail.videoURL" 
                      :src="detail.videoURL" 
                      :alt="detail.title" 
                      controls autoplay>
               </p>
               <div id="detail-content" v-html="detail.content"> </div>
               <div id="detail-properties">
                 <ul>
                   <li v-for="p in detail.properties" 
                       v-bind:key="p.value"
                       >
                       <a href="#" v-on:click="selectValue(p.property, p.value)">{{ p.property.replace(/_/g, " ") }}:{{ p.value.replace(/_/g, " ") }}</a>
                   </li>
                 </ul>
               </div>
               <div v-if="debug" id="detail-imagelinks">
                 <hr v-if="detail.imagelinks.length">
                 <h5 v-if="detail.imagelinks.length">Pages that link to this image</h5>
                 <ul>
                   <li v-for="page in detail.imagelinks" 
                       v-bind:key="page.pageid"
                       >
                       <a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + page.title" target="_blank">{{ page.title }}</a>
                   </li>
                 </ul>
               </div>
             </div><!-- /.sidebar-content-->
           </div><!-- /#sidebar-reveal .reveal-->
         </div>
    </script>


    <script type="text/x-template" id="foreword-template" ref="foreword">
      <div id="foreword" class="article-page">
        <div class="grid-x grid-padding-x">
          <div class="cell small-12">
            <div class="article-content" v-html="forewordContent"></div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="correspondence-template" ref="correspondence">
         <div id="correspondence">
            <div class="grid-x grid-padding-x">
              <nav id="navigation" class="cell shrink">
                <!-- Kate -->
                <ul>
                  <li v-for="letter in allLetters" 
                      v-if="letter.title.startsWith('Kate and R')"
                      v-on:click="selectLetter(letter.title, $event)">
                    <a :title="letter.title" href="#">{{ letter.title }}</a>
                  </li>
                </ul>
                <!-- Frans-Willem -->
                <ul>
                  <li v-for="letter in allLetters" 
                      v-if="letter.title.startsWith('Renée and Fran')"
                      v-on:click="selectLetter(letter.title, $event)">
                    <a :title="letter.title" href="#">{{ letter.title }}</a>
                  </li>
                </ul>
                <!-- Others -->
                <ul>
                  <li v-for="letter in allLetters" 
                      v-if="!letter.title.startsWith('Kate and R') && !letter.title.startsWith('Renée and Fran')"
                      v-on:click="selectLetter(letter.title, $event)">
                    <a :title="letter.title" href="#">{{ letter.title }}</a>
                  </li>
                </ul>


              </nav><!-- /#navigation -->
              <p class="pagination shrink">
                <a href="#" v-on:click.stop="selectPrevLetter" v-if="letter.content">Previous</a>
                <a href="#" v-on:click.stop="selectNextLetter" v-if="letter.content">Next</a>
              </p>
              <div id="letter-container" class="cell large-6 medium-8 small-12">
                   <div class="section-container">
                     <section :id="'letter-' + letter.pageid" >
                       <!-- <p class="loading" v-if="!letter.content">Loading correspondence...</p>
                       loader -->
                       <div class="loading" v-if="!letter.content">
                         <span>Loading correspondence...</span>
                         <div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
                       </div>
                       <h2 class="letter-title" v-if="letter.content"><span>{{ letter.title }}</span></h2>
                       <div class="letter-content" v-html="letter.content">
                       </div><!-- /.letter-content -->
                     </section><!-- /.letter -->

                   </div><!-- /.section-container -->        
              </div><!-- /.letter-container -->
            </div><!-- /.grid-x -->
         </div><!-- /#correspondence -->
    </script>

    <script type="text/x-template" id="colophon-template" ref="colophon">
       <div id="colophon" class="article-page">
          <div class="grid-x grid-padding-x">
            <div class="cell large-6 medium-8 small-12">
              <div class="article-content" v-html="colophonContent"></div>
            </div>
          </div>
       </div>
    </script>





    <!-- JavaScript loading -->
    <script src="js/jquery.min.js"></script>
    <script src="js/what-input.js"></script>
    <script src="js/foundation.min.js"></script>

    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/vue-router.min.js"></script>
    <script src="js/vue-scrollto.min.js"></script>
    <script src="js/vue-visible.min.js"></script>
    <script src="js/vue-plain.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/pages.js"></script>
    <script src="js/narrative.js"></script>
    <script src="js/tapestry.js"></script>
    <script src="js/correspondence.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>

  </body>
</html>
