/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: italic;
    src: local('Playfair Italic'), url('../fonts/Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    src: local('Playfair Bold'), url('../fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 900;
    font-style: normal;
    src: local('WorkSans ExtraBold'), url('../fonts/WorkSans/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@import 'foundation/settings';

// bower:scss
@import "bower_components/foundation/scss/foundation.scss";
// endbower


body {
    background: #fafafa;
    font-family: 'Playfair', Roboto, 'DejaVu Sans', Helvetica, Arial, sans-serif;
    color: #333;
}

/* Simple index */

.expanded {
  width: 100%;
  max-width: 100%;
  
  padding-top: 1rem;
  padding-bottom: 2rem;
  
  .row {
    padding-top: 2rem;
    border-bottom: 1px solid #efefef;
  }
  
  .prop-title h4 {
    font-family: "Playfair";
    text-align: right;
  }

  .small-block-grid {
    li > img {
      display: inline-block;
      max-height: 40px;
    }
  }
  
}









