/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: italic;
    src: local('Playfair Italic'), url('../fonts/Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    src: local('Playfair Bold'), url('../fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 900;
    font-style: normal;
    src: local('WorkSans ExtraBold'), url('../fonts/WorkSans/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

body {
    background: #fafafa;
    font-family: 'Playfair', Roboto, 'DejaVu Sans', Helvetica, Arial, sans-serif;
    color: #333;
}


/* Story.html Prototype 1 */

#content {
    h2, h3, h4, h5, h6 {
        /*font-family: 'WorkSans', Roboto, 'DejaVu Sans', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;*/
    }
    
    .images {
        display: inline-block;
        padding: 0.75em 0;
        text-indent: 0;
        img {
            width: auto;
        }
    }
    
    .transient { margin-top: 1em; }
    
    .header-illustration {
        text-indent: 0;
        position: relative;
        overflow: visible;
        margin-bottom: 1em;
        h2 {
            position: absolute;
            bottom: 0;
            left: -7.5em;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5em;
            margin-bottom: 0;
            
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    
    hr::before {
        display: block;
        content: "";
        margin-top: 2em;
    }
    
    .image-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0;
        width: 18em;
        height: 450px;
        li {
            list-style-type: none;
            width: 4em;
            padding: 0 0.25em;
            opacity: 0.6;
            img {
                width: 100%;
                height: auto;
            }
            &:hover,
            &.active {
                cursor: pointer;
                opacity: 1;
            }
            &.active img {
                border: 1px solid #333;
            }
        }
    }
    
    #fancy-things-container {
        position: relative;
        overflow: visible;
        .image-gallery {
            height: 480px;
            position: absolute;
            top: 0;
            left: -18.8em;
            li {
                width: 5em;
            }
        }
    }
    
    .open-gallery {
        position: relative;
        width:  44em;
        margin-bottom: 1em;
        img{
            width: 28em;
            margin-right: 0.5em;
            display: block;
        }
        span {
            position: absolute;
            top: 0;
            right: 0;
            width: 16.3em;
            display: block;
            font-size: 1rem;
            font-style: italic;
        }
    }
    
    #dick-holthaus-container {
        position: relative;
        overflow: visible;
        .image-gallery {
            height: 480px;
            position: absolute;
            top: 0;
            left: -18.8em;
            li {
                width: 5em;
            }
        }
        .open-gallery {
            width:  44em;
            margin-bottom: 1em;
            img{
                width: 35em;
                margin-right: 0.5em;
                display: block;
            }
            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 9em;
                display: block;
                font-size: 1rem;
                font-style: italic;
            }
        }
    }
    
    #studio-smock-container {
        position: relative;
        overflow: visible;
        
        .image-gallery {
            height: 480px;
            position: absolute;
            top: 0;
            left: -18.8em;
            li {
                width: 5em;
            }
        }
        .open-gallery {
            span img {
                display: block;
                width: 80px;
                padding-top: 10px;
            }
        }
    }
    
    .fiction {
        font-family: 'WorkSans';
        font-weight: 400;
        background: #333;
        color: #fff;
        padding: 2.8em;
        transform: rotate(-2deg);
    }
    
    #arnold-container {
        position: relative;
        overflow: visible;
        .image-gallery {
            height: 200px;
            position: absolute;
            top: 0;
            left: -18.8em;
            li {
                width: 5em;
            }
        }
    }
    
}
