body {
    background: #fafafa;
    font-size: 18px;
    line-height: 1.6em;
    background-attachment: fixed;
    overflow-y: scroll;
}

/* Basic structure */
#page {
    margin: 0 auto;
    position: relative;
}
#mid_panel {
    margin: 0 10.5em;
}

/* The title block */
#title, #title .label, #content, .tools {
    border-radius: 2px;
}
#title {
    max-width: 28em;
    margin: 2.2em auto 1.1em auto;
    padding: 1.7em;
    cursor: pointer; /* Until we click to start. */
}
#title .label {
    overflow: hidden;
    padding: 2.0em;
    margin: auto;
    max-width: 18em;
    position: relative;
}
#title h1 {
    font-size: 2em;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    font-weight: normal;
    padding-bottom: 1.1em;
    border-bottom: 1px solid #321;
}
#title h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin: 1.1em 0 0 0;
}
#title h3 {
    font-size: 1.0em;
    font-weight: normal;
    text-align: center;
    margin: 1.1em 0 0 0;
}
#title h1, #title h2, #title h3 {
    color: rgba(33,17,0,0.9);
}
#title h1 span.fancy {
    font-size: 2.5em;
    line-height: 0;
    margin: 0 -0.2em;
}
#title .click_message {
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #987;
}
#title .noscript_message {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #943;
}

/* Main content */
#content_wrapper {
    max-width: 28em;
    position: relative;
    margin: 0.6em auto 1.1em auto;
    padding: 2.8em;
    display: none; /* Shown by Javascript */
    overflow: visible; /* auto*/
}
span.drop + p {
    text-indent: -0.4em;
}
p {
    margin: 0;
    -webkit-transition: text-indent 0.25s ease;
            transition: text-indent 0.25s ease;
}
hr {
    border: none;
    background-color: rgba(0,0,0,0.25);
    margin: -1px 0 -1px -2.8em;
    width: 1.1em;
    height: 2px;
}
p + p, p + img + p, p + hr + p {
    text-indent: 1.6em;
}
#content h1 + p:first-line,
#content h1 + img + p:first-line {
    font-weight: bold;
    color: rgba(0,0,0,0.85);
}
#content h1 + p:first-letter,
#content h1 + img + p:first-letter {
    position: relative;
    padding-top: 0.1em;
    display: block;
    float: left;
    font-weight: normal;
    font-size: 3.2em;
    line-height: 0.8em;
    color: #210;
}
ul {
    margin: 0;
    padding: 0 0 0 1em;
}
ul.options {
    border: 2px solid #876;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    border-radius: 4px;
}
ul.options li {
    border-bottom: 1px solid #876;
    padding: 0.5em;
}
ul.options li:hover {
    background-color: rgba(153,136,119,0.2);
    cursor: pointer;
}
ul.options li:last-child {
    border-bottom: none;
}

h1 {
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2.3em 0 1.1em 0;
    color: #210;
    text-align: center;
}
h1:first-child {
    margin-top: 0;
}
a {
    color: #e54346;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a.raw {/*
    padding-right: 14px;
    background: transparent url("../images/external_link.png") no-repeat right 4px;*/
}
a:hover {
    border-bottom: 1px solid #e54346;
}

img.float_right {
    float: right;
    margin: 1.1em 0 1.1em 1.1em;
}
img.float_left {
    float: left;
    margin: 1.1em 1.1em 1.1em 0;
}

#toolbar {
    display: none;
}

#tools_wrapper {

    display: none;
    position: fixed;
    width: 100%;
    max-width: 56em;
    top: 2.2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none; /* Shown by Javascript */
}
.tools {
    padding: 0.6em;
    width: 8.9em;
    background: #cec3ae url("../images/tools_bg.jpg") repeat left top;
    position: absolute;
}
.tools p {
    font-size: 0.95em;
    line-height: 1.5em;
}
.tools.left {
    left: 0.4em;
}
.tools.right {
    right: 0.4em;
}

.tools h1 {
    font-size: 1.0em;
    font-weight: normal;
    border-bottom: 1px solid #321;
    margin-bottom: 0.6em;
}
.buttons {
    padding-top: 0.6em;
    margin-top: 0.6em;
    border-top: 1px solid #321;
    text-align: center;
}
.buttons button {
    font-size: 0.8em;
    background: #876;
    color: #e6e6c6;
    border: none;
    padding: 0.3em 1.0em;
    cursor: pointer;
    border-radius: 4px;
}
.buttons button:hover {
    background: #987;
}
.buttons button + button {
    margin-left: 0.3em;
}
.buttons button[disabled], .buttons button[disabled]:hover {
    background: #ba9;
    color: #dcb;
    cursor: default;
}

#legal {
    max-width: 33em;
    color: #654;
    margin: 1em auto 0 auto;
    padding-bottom: 2.2em;
    padding-top: 14em;
    display: none; /* Shown by Javascript */
}
#legal p {
    font-size: 0.7em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
#legal p + p {
    text-indent: 0;
}

#character {
    font-size: 1.0em;
    line-height: 1.4em;
}
#qualities .quality, #character_text {
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0 -0.25em;
    padding: 0 0.25em;
}
#character_text {
    margin-bottom: 0.6em;
}
#character_text_content {
    position: relative;
    z-index: 100;
}
#qualities span {
    position: relative;
    z-index: 100;
}
#qualities span.name {
    float: left;
}
#qualities span.value {
    float: right;
}
.highlight {
    background: rgba(255, 255, 0, 0.75);
    position: absolute;
    left: -4px;
    right: -4px;
    top: 0;
    bottom: 0;
}
#qualities h2 {
    margin: 0.5em 0 0.25em 0;
    font-size: 1.0em;
    border-bottom: 1px solid #321;
}

.progress_bar {
    position: relative;
    overflow: hidden;
    margin: 0.6em 0;
}
.progress_bar_track {
    z-index: 100;
    background: rgba(255,255,255,0.25);
    border: 2px solid #876;
    height: 0.75em;
    width: 27.7em;
    clear: both;
    border-radius: 4px;
}
.progress_bar_color {
    background: #987;
    width: 0;
    height: 0.75em;
}
.progress_bar span {
    z-index: 100;
}
.progress_bar .name {
    font-weight: bold;
}
.progress_bar .value {
    float: right;
}
.progress_bar .left_label {
    float: left;
}
.progress_bar .right_label {
    float: right;
}
#content_library, #ui_library {
    display: none;
}
#menu {
    display: none;
}
